# Start from coding style
BasedOnStyle: LLVM

# Indentation spaces
IndentWidth: 4

# Tab character width spaces
TabWidth: 4

# Always use spaces, never tabs
UseTab: Never

# Maximum line length
ColumnLimit: 80

# Use spaces before end-of-line comments
SpacesBeforeTrailingComments: "2"

# Enable automatic sorting
SortIncludes: true

# Merge and regroup include blocks after sorting
IncludeBlocks: Regroup

IncludeCategories:
  # System and standard library headers
  - Regex: "^<.*>"
    Priority: 1
  # raylib and toml headers
  - Regex: '^"raylib.*"'
    Priority: 2
  - Regex: '^"toml.*"'
    Priority: 2
  - Regex: '^"doctest.*"'
    Priority: 2
  # Project-local headers
  - Regex: '^".*"'
    Priority: 3
