# Start from coding style
BasedOnStyle: LLVM

# Indentation spaces
IndentWidth: 4

# Tab character width spaces
TabWidth: 4

# Always use spaces, never tabs
UseTab: Never

# Maximum line length
ColumnLimit: 80

# Use spaces before end-of-line comments
SpacesBeforeTrailingComments: "2"
